
<% for(let i = 0; i < category.length; i++){ %>
    <div class="cat_list" data-category-id = "<%= category[i]._id %>" >
        <span class = "cat_status" id = "<%= category[i]._id %>" style= <%= "background-color:" + category[i].color +";"%> ></span>
        <h1 class ="cat_title"><%= category[i].title %></h1>  
    </div>
<% } %>