<content id = content>
    <header id = "task_title">School Works</header>
    <div id="task_container">

        <div class = "task_card" id = "task1">
            <header class ="task_name">
                <h1 class = "task_label">Poetry About Self</h1>
            </header>

            <div class ="task_notes">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias rem a, repellat, quis minima officiis temporibus repellendus nihil reprehenderit nostrum ea, explicabo voluptas magni ipsa exercitationem aut neque. Facere, eos.</p>
            </div>

            <span class="task_status" id = "task_status1"></span>
        </div>
        
        <div class = "task_card" id = "task2">
            <header class ="task_name">
                <h1 class = "task_label">Computer Programming</h1>
            </header>

            <div class ="task_notes">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias rem a, repellat, quis minima officiis temporibus repellendus nihil reprehenderit nostrum ea, explicabo voluptas magni ipsa exercitationem aut neque. Facere, eos.</p>
            </div>

            <span class="task_status" id = "task_status2"></span>
        </div>

        <div class = "task_card" id = "task3">
            <header class ="task_name">
                <h1 class = "task_label">DCIT 23 Project</h1>
            </header>

            <div class ="task_notes">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias rem a, repellat, quis minima officiis temporibus repellendus nihil reprehenderit nostrum ea, explicabo voluptas magni ipsa exercitationem aut neque. Facere, eos.</p>
            </div>

            <span class="task_status" id = "task_status3"></span>

        </div>

        <div class = "task_card" id = "task4">
            <header class ="task_name">
                <h1 class = "task_label">Essay about life</h1>
            </header>

            <div class ="task_notes">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias rem a, repellat, quis minima officiis temporibus repellendus nihil reprehenderit nostrum ea, explicabo voluptas magni ipsa exercitationem aut neque. Facere, eos.</p>
            </div>

            <span class="task_status" id = "task_status4"></span>

        </div>

        <div class = "task_card" id = "task5">
            <header class ="task_name">
                <h1 class = "task_label">Research on Software Devices</h1>
            </header>

            <div class ="task_notes">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias rem a, repellat, quis minima officiis temporibus repellendus nihil reprehenderit nostrum ea, explicabo voluptas magni ipsa exercitationem aut neque. Facere, eos.</p>
            </div>

            <span class="task_status" id = "task_status5"></span>

        </div>

    </div>
</content>