<div class = "task_card" id = "task1">

    <header class ="task_name">
        <h1 class = "task_label">Poetry About Self</h1>
    </header>

    <div class ="task_notes">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias rem a, repellat, quis minima officiis temporibus repellendus nihil reprehenderit nostrum ea, explicabo voluptas magni ipsa exercitationem aut neque. Facere, eos.</p>
    </div>

    <span class="task_status" id = "task_status1"></span>
    
</div>